/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Corpo da página */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6a8d92, #d1e8e4);
  }
  
  /* Contêiner principal */
  .container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    padding: 30px;
  }
  
  /* Cartão de cadastro */
  .card {
    text-align: center;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2a5d67;
  }
  
  .card .quote {
    font-style: italic;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .campo {
    text-align: left;
  }
  
  .campo span {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .campo input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s;
  }
  
  .campo input:focus {
    border-color: #2a5d67;
    outline: none;
    box-shadow: 0 0 5px rgba(42, 93, 103, 0.2);
  }
  
  /* Botão */
  .botao {
    width: 100%;
    padding: 10px;
    background-color: #2a5d67;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: #244d55;
    transform: scale(1.04);
  }
  

  /* Link */
  .link {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .link a {
    color: #2a5d67;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  
  /* Alerta de erro */
  .alerta_erro {
    display: none;
  }
  
  .card_erro {
    background-color: #ffdddd;
    border: 1px solid #ff5c5c;
    padding: 10px;
    border-radius: 8px;
    color: #b30000;
    text-align: center;
    margin-bottom: 15px;
  }
  
  /* Div de carregamento */
  .loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }



